TZ=Europe/Moscow

# postgres
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=collabsphere
POSTGRES_SCHEMA=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD_FILE=/run/secrets/dev_postgres_password
POSTGRES_DEBUG=true
