WEB_HOST_PORT=3002
WEB_NEXT_PUBLIC_API_BASE_URL=http://api.localhost:8080
WEB_NEXT_PUBLIC_APP_BASE_URL=http://collabsphere.localhost:3002
WEB_NEXT_INTERNAL_API_BASE_URL=http://api:8080
WEB_AUTH_BROWSER_REDIRECT_ORIGINS=http://api.localhost:8080,http://collabsphere.localhost:3002
NEXT_PUBLIC_API_BASE_URL=http://api.localhost:8080
NEXT_PUBLIC_APP_BASE_URL=http://collabsphere.localhost:3002
NEXT_INTERNAL_API_BASE_URL=http://api:8080
