TZ=Europe/Moscow
IMAGE_TAG=local

APPLICATION_TITLE=CollabSphere API
APPLICATION_VERSION=0.1.0
APPLICATION_ADDRESS=0.0.0.0:8080
APPLICATION_PORT=8080
APPLICATION_PUBLIC_BASE_URL=http://localhost:8080
APPLICATION_DEBUG=true

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DB=collabsphere
POSTGRES_SCHEMA=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD_FILE=/run/secrets/postgres/dev/db_password
POSTGRES_DEBUG=false

AUTH_JWT_SECRET_FILE=/run/secrets/jwt/jwt_secret
AUTH_ACCESS_TTL=15m
AUTH_REFRESH_TTL=720h
AUTH_GUEST_ACCESS_TTL=24h

STORAGE_S3_ENABLED=true
STORAGE_S3_ENDPOINT=http://minio:9000
STORAGE_S3_PUBLIC_ENDPOINT=http://localhost:9000
STORAGE_S3_REGION=eu-central-1
STORAGE_S3_ACCESS_KEY_FILE=/run/secrets/s3/s3_access_key
STORAGE_S3_SECRET_KEY_FILE=/run/secrets/s3/s3_secret
STORAGE_S3_BUCKET=collabsphere
STORAGE_S3_PATH_STYLE=true
STORAGE_S3_PRESIGN_TTL=15m
STORAGE_S3_DOWNLOAD_TTL=5m

MINIO_IMAGE_VERSION=RELEASE.2025-09-07T16-13-09Z
MINIO_MC_IMAGE_VERSION=RELEASE.2025-09-07T16-13-09Z
MINIO_ROOT_USER=admin
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001
MINIO_BROWSER_REDIRECT_URL=http://localhost:9001

JITSI_ENABLED=true
JITSI_WEB_IMAGE_VERSION=web-1.0.9105-1
JITSI_PROSODY_IMAGE_VERSION=prosody-13.0.4
JITSI_JICOFO_IMAGE_VERSION=jicofo-1.0-1173-1
JITSI_JVB_IMAGE_VERSION=jvb-2.3-278-gc5d4c051c-1
JITSI_PUBLIC_URL=https://localhost:8443
JITSI_BASE_URL=https://localhost:8443
JITSI_DOMAIN=localhost
JITSI_APP_ID=collabsphere
JITSI_APP_SECRET_FILE=/run/secrets/jitsi/jitsi_secret
JITSI_ISSUER=collabsphere
JITSI_AUDIENCE=jitsi
JITSI_TOKEN_TTL=2h
JITSI_HTTP_PORT=8000
JITSI_HTTPS_PORT=8443
JITSI_JVB_PORT=10000
# Set this to your LAN/public IP if conferences are joined from another machine.
JITSI_JVB_ADVERTISE_IPS=127.0.0.1
JITSI_JICOFO_AUTH_PASSWORD_FILE=/run/secrets/jitsi/jicofo_auth_password
JITSI_JICOFO_COMPONENT_SECRET_FILE=/run/secrets/jitsi/jicofo_component_secret
JITSI_JVB_AUTH_PASSWORD_FILE=/run/secrets/jitsi/jvb_auth_password

REALTIME_REDIS_ENABLED=false
REALTIME_REDIS_PASSWORD_FILE=/run/secrets/redis/redis_password
TRANSCRIPTION_ENABLED=false
TRANSCRIPTION_API_KEY_FILE=/run/secrets/ocr/transcription_api_key
DOCUMENT_ANALYSIS_ENABLED=false
DOCUMENT_ANALYSIS_API_KEY_FILE=/run/secrets/ocr/document_analysis_api_key